<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunrise.stoneage.dao.RoleMapper">
    <select id="getPermissionsByRoleId" resultType="com.sunrise.stoneage.mbg.model.PermissionDO">
        select p.id, p.code
        from sys_permission p
        join sys_role_permission rp on rp.role_id = p.id
        where rp.role_id = #{roleId} and p.is_deleted = 0 and p.is_enable = 1
  </select>
</mapper>