<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunrise.stoneage.dao.RoleMapper">
    <select id="getRolesByUserId" resultType="com.sunrise.stoneage.mbg.model.RoleDO">
        select r.id, r.name, r.code
        from sys_role r
        join sys_user_role ur on r.id = ur.role_id
        where ur.id = #{userId} and r.is_deleted = 0 and r.is_enable = 1
  </select>
</mapper>