<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunrise.stoneage.dao.UserMapper">
    <select id="getUserByUsername" resultType="com.sunrise.stoneage.mbg.model.UserDO">
    select id, nickname, username, password, salt, is_enable, create_time, update_time,
    is_deleted, head_portrait_url
    from sys_user
    where username = #{username,jdbcType=VARCHAR} and is_deleted = 0
  </select>
    <select id="countExistByUsername" resultType="java.lang.Integer">
        select count(*) from sys_user where username = #{username} and is_deleted = 0
    </select>
</mapper>